<ion-content>
  <ion-grid id="grid">
    <ion-row><ion-col><p>{{output}}</p></ion-col></ion-row>
    <ion-row><ion-col><h1>Inscripton :</h1></ion-col></ion-row>
    <ion-row><ion-col><ion-input color="secondary" placeholder="nickname" [(ngModel)]="iname" type="text"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-input color="secondary" placeholder="password" [(ngModel)]="ipassword" type="text"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-input color="secondary" placeholder="confirm password" [(ngModel)]="confPassword" type="text"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-input color="secondary" placeholder="mail" [(ngModel)]="imail" type="text"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-button (click)="signUp()">Enter</ion-button></ion-col></ion-row>
    <ion-row></ion-row>
    <ion-row><ion-col><h1>Connexion :</h1></ion-col></ion-row>
    <ion-row><ion-col><ion-input color="secondary" placeholder="nickname" [(ngModel)]="cname" type="text"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-input color="secondary" placeholder="password" [(ngModel)]="cpassword" type="text"></ion-input></ion-col></ion-row>
    <ion-row><ion-col><ion-button (click)="signIn()">Enter</ion-button></ion-col></ion-row>
  </ion-grid>

</ion-content>
