<ion-content>
  <ion-grid id="grid">

    <ion-row>
      <ion-segment value="1">
        <ion-segment-button value="1" (click)="switch(1)">Connexion</ion-segment-button>
        <ion-segment-button value="0" (click)="switch(0)">Inscription</ion-segment-button>
      </ion-segment>
    </ion-row>

    <div *ngIf="exists===0">
      <div *ngIf="displayToken===0">
        <ion-row>
          <ion-col><h1>Inscripton :</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput="true" color="secondary" placeholder="Nickname" showCancelButton="always" (keyup)="updateSignUp($event)" [(ngModel)]="iname" type="text"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput="true" color="secondary" placeholder="Password" (keyup)="updateSignUp($event)" [(ngModel)]="ipassword" type="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput="true" color="secondary" placeholder="Confirm password" (keyup)="updateSignUp($event)" [(ngModel)]="confPassword" type="password"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput="true" color="secondary" placeholder="Mail" (keyup)="updateSignUp($event)" [(ngModel)]="imail" type="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="reset()">Reset</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="signUp()">Submit</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="displayToken===1">
        <ion-row>
          <ion-col>
            <ion-input clearOnEdit="true" clearInput="true" color="secondary" placeholder="Token" (keyup)="updateToken($event)" [(ngModel)]="token" type="text"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="switchTokenDisplay()">Modifier entrées</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="submitToken()">Submit</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="signUp()">Renvoyer token</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="exists===1">
      <ion-row>
        <ion-col><h1>Connexion :</h1></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput="true" color="secondary" placeholder="Nickname" (keyup)="updateSignIn($event)" [(ngModel)]="cname" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput="true" color="secondary" placeholder="Password" (keyup)="updateSignIn($event)" [(ngModel)]="cpassword" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="reset()">Reset</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="signIn()">Submit</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row><ion-col><p>{{output}}</p></ion-col></ion-row>

  </ion-grid>

</ion-content>
