<ion-modal trigger="inputFile" (ionModalWillDismiss)="dismissModal()">
  <ng-template>
    <app-upload-file></app-upload-file>
  </ng-template>
</ion-modal>

<ion-modal trigger="inputText" (ionModalWillDismiss)="dismissModal()">
  <ng-template>
    <app-upload-text></app-upload-text>
  </ng-template>
</ion-modal>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>My decks</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" size="large" title="Upload a file" id="inputFile">
        <ion-icon name="cloud-upload" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" size="large" title="Upload a list" id="inputText">
        <ion-icon name="pencil" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<app-view-my-decks></app-view-my-decks>
