<ion-modal trigger="inputFile">
  <ng-template>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>Format .json, .txt ou .cod</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="upload" type="file" [(ngModel)]="deckType" (change)="changeFile($event)"
                     accept=".txt, .cod"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{outputFile}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" id="nameFileDeck">Submit deck</ion-button>
        </ion-col>
      </ion-row>
      <div style="position: fixed; left: 0; bottom: 10px; right: 0;">
        <ion-footer>
          <ion-row>
            <ion-col>
              <ion-text style="color:red; font-weight: bold;">
                {{outputFile}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="danger" (click)="dismissModal()">Close</ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </div>
    </ion-grid>
  </ng-template>
</ion-modal>

<ion-modal trigger="inputText">
  <ng-template>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>titre</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea rows="20" id="text" inputmode="text" type="text" [(ngModel)]="uploadedText"
                        placeholder="Paste your decklist here"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button id="nameTextDeck">Submit</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text style="color:red; font-weight: bold;">
            {{outputText}}
          </ion-text>
        </ion-col>
      </ion-row>
      <div style="position: fixed; left: 0; bottom: 10px; right: 0;">
        <ion-footer>
          <ion-row>
            <ion-col>
              <ion-button color="danger" (click)="dismissModal()">Close</ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </div>
    </ion-grid>
  </ng-template>
</ion-modal>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>My decks</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" size="large" title="Upload a deck" id="inputFile">
        <ion-icon name="cloud-upload" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" size="large" title="Upload a deck" id="inputText">
        <ion-icon name="pencil" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-searchbar placeholder="Search a deck" [(ngModel)]="filter"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-popover trigger="nameTextDeck" side="top">
  <ng-template>
    <form>
      <ion-title>Name your deck</ion-title>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" (keyup)="trigger($event.key)" [(ngModel)]="deckName" required="true"
                   [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-button color="success" (click)="uploadText()" type="submit">Submit deck</ion-button>
      <div *ngIf="outputSubmit">
        <p>Server response : {{outputSubmit}}</p>
      </div>
    </form>
  </ng-template>
</ion-popover>

<ion-popover trigger="nameFileDeck" side="top"  (didPresent)="test()">
  <ng-template>
    <form>
      <ion-title>Name your deck</ion-title>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" (keyup)="trigger($event.key)" [(ngModel)]="deckName" required="true"
                   [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-button color="success" (click)="uploadFile()" type="submit">Submit deck</ion-button>
      <div *ngIf="outputSubmit">
        <p>Server response : {{outputSubmit}}</p>
      </div>
    </form>
  </ng-template>
</ion-popover>
