<ion-modal trigger="inputFile" (ionModalWillDismiss)="resetOnDismiss()">
  <ng-template>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>Format txt ou cod</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="upload" type="file" [(ngModel)]="deckType" (change)="changeFile($event)"
                     accept=".txt, .cod"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" (keyup)="trigger($event.key)" [(ngModel)]="deckName" required="true"
                     [ngModelOptions]="{standalone: true}" placeholder="Name your deck"
                     style="border: 1px solid grey; border-radius:15px;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>Private</ion-text>
          <ion-toggle [(ngModel)]="visibility"></ion-toggle>
          <ion-text>Public</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-img [src]="'./assets/img/blue.png'" class="icon"></ion-img>
          </ion-row>
          <ion-row>
            <ion-checkbox (ionChange)="selectedColor('blue')" [(ngModel)]="blue"></ion-checkbox>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-img [src]="'./assets/img/white.png'" class="icon"></ion-img>
          </ion-row>
          <ion-row>
            <ion-checkbox (ionChange)="selectedColor('white')" [(ngModel)]="white"></ion-checkbox>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-img [src]="'./assets/img/black.png'" class="icon"></ion-img>
          </ion-row>
          <ion-row>
            <ion-checkbox (ionChange)="selectedColor('black')" [(ngModel)]="black"></ion-checkbox>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-img [src]="'./assets/img/red.png'" class="icon"></ion-img>
          </ion-row>
          <ion-row>
            <ion-checkbox (ionChange)="selectedColor('red')" [(ngModel)]="red"></ion-checkbox>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-img [src]="'./assets/img/green.png'" class="icon"></ion-img>
          </ion-row>
          <ion-row>
            <ion-checkbox (ionChange)="selectedColor('green')" [(ngModel)]="green"></ion-checkbox>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-img [src]="'./assets/img/colorless.png'" class="icon"></ion-img>
          </ion-row>
          <ion-row>
            <ion-checkbox (ionChange)="selectedColor('colorless')" [(ngModel)]="colorless"></ion-checkbox>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="deckName && ((blue||black||white||red||green)||colorless)">
        <ion-col>
          <ion-button color="success" (click)="uploadFile()">Submit deck</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text style="color:red; font-weight: bold;">
            {{outputFile}}
          </ion-text>
        </ion-col>
      </ion-row>
      <div style="position: fixed; left: 0; bottom: 10px; right: 0;">
        <ion-footer>
          <ion-row>
            <ion-col>
              <ion-button color="danger" (click)="dismissModal()">Close</ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </div>
    </ion-grid>
  </ng-template>
</ion-modal>

<ion-modal trigger="inputText" (ionModalWillDismiss)="resetOnDismiss()">
  <ng-template>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>Paste decklist</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea rows="15" id="text" inputmode="text" type="text" [(ngModel)]="uploadedText"
                        placeholder="Paste your decklist here"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" (keyup)="trigger($event.key)" [(ngModel)]="deckName" required="true"
                     [ngModelOptions]="{standalone: true}" placeholder="Name your deck"
                     style="border: 1px solid grey; border-radius:15px;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>Private</ion-text>
          <ion-toggle [(ngModel)]="visibility"></ion-toggle>
          <ion-text>Public</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="deckName">
        <ion-col>
          <ion-button color="success" (click)="uploadText()">Submit</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text style="color:red; font-weight: bold;">
            {{outputText}}
          </ion-text>
        </ion-col>
      </ion-row>
      <div style="position: fixed; left: 0; bottom: 10px; right: 0;">
        <ion-footer>
          <ion-row>
            <ion-col>
              <ion-button color="danger" (click)="dismissModal()">Close</ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </div>
    </ion-grid>
  </ng-template>
</ion-modal>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>My decks</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" size="large" title="Upload a file" id="inputFile">
        <ion-icon name="cloud-upload" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" size="large" title="Upload a list" id="inputText">
        <ion-icon name="pencil" slot="icon-only" color="success"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<app-view-my-decks></app-view-my-decks>
