<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>Visible decks</ion-title>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Search a deck" [(ngModel)]="filter" (ionChange)="search(0,0, filter)"
                       style="text-align:center;"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row style="text-align:center;">
      <ion-col>
        <ion-button (click)="previousPage()">
          <ion-icon name="arrow-undo" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        Page {{count + 1}}/{{this.nbPages}}
      </ion-col>
      <ion-col>
        <ion-button (click)="nextPage()">
          <ion-icon name="arrow-redo" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div *ngFor="let line of displayDecks">
      <ion-row style="font-size:1.3em">
        <ion-item button="true" (click)="routing.viewInEditor(line.id)" style="width:100%; text-align:center">
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-text style="text-decoration: underline; font-weight: bold; margin-top:5px; font-size: 1.5em;">
                  {{line.deckName}}
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-note style="font-style:italic; margin-top:5px;">
                  {{line.owner}}
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col *ngIf="login.getDevice()==='large'">
            <ion-img [src]="'./assets/img/white.png'" *ngIf="line.white" class="icon"></ion-img>
            <ion-img [src]="'./assets/img/blue.png'" *ngIf="line.blue" class="icon"></ion-img>
            <ion-img [src]="'./assets/img/black.png'" *ngIf="line.black" class="icon"></ion-img>
            <ion-img [src]="'./assets/img/red.png'" *ngIf="line.red" class="icon"></ion-img>
            <ion-img [src]="'./assets/img/green.png'" *ngIf="line.green" class="icon"></ion-img>
            <ion-img [src]="'./assets/img/colorless.png'" *ngIf="line.colorless" class="icon"></ion-img>
          </ion-col>
          <ion-col>
            <ion-text class="italic">
              last update :
              <br>{{line.lastUpdated}}
              <br>by
              <ion-text style="text-decoration: underline; font-weight: bold;">{{line.whoModifiedLast}}</ion-text>
            </ion-text>
          </ion-col>
        </ion-item>
      <ion-item-divider></ion-item-divider>
      </ion-row>
    </div>
    <ion-row style="text-align:center;">
      <ion-col>
        Page {{count + 1}}/{{this.nbPages}}
      </ion-col>
    </ion-row>
    <ion-row style="text-align:center;">
      <ion-col>
        <ion-button (click)="previousPage()">
          <ion-icon name="arrow-undo" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        {{publicDecks.length}}<br>
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button (click)="nextPage()">
          <ion-icon name="arrow-redo" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-grid>
