<ion-grid>
  <ion-row>
    <ion-col>
      <ion-header>
        <ion-menu-button></ion-menu-button>
      </ion-header>
    </ion-col>
  </ion-row>

  <!-- /////////////////////// MENU CONTENT /////////////////////// -->
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>{{glob.getNickname()}}</ion-title>
        <ion-note slot="end" style="margin-right:10px;">
          {{hour}}
        </ion-note>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button="true" (click)="redirect('welcome')">
          <ion-icon name="home"></ion-icon>
          <ion-label color="secondary">Home</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header color="light">
          <ion-icon name="book"></ion-icon>
          <strong>Database</strong>
        </ion-list-header>
        <ion-item button="true" (click)="redirect('database')">
          <ion-icon name="search"></ion-icon>
          <ion-label color="secondary">Search</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header color="light">
          <ion-icon name="game-controller"></ion-icon>
          <strong>Play</strong>
        </ion-list-header>
        <ion-item button="true" (click)="redirect('play')">
          <ion-icon name="enter"></ion-icon>
          <ion-label color="secondary">Enter</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header color="light">
          <ion-icon name="albums"></ion-icon>
          <strong>Deck</strong>
        </ion-list-header>
        <ion-item button="true" (click)="redirect('updown-load')">
          <ion-icon name="cloud-download"></ion-icon>
          <ion-label color="secondary">Upload/Download deck</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item button="true" (click)="redirect('editor')">
          <ion-icon name="create"></ion-icon>
          <ion-label color="secondary">Deck editor</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header color="light">
          <ion-icon name="person"></ion-icon>
          <strong>Account</strong>
        </ion-list-header>
        <ion-item button="true" (click)="redirect('settings')">
          <ion-icon name="settings"></ion-icon>
          <ion-label color="secondary">Settings</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item button="true" (click)="redirect('friends')">
          <ion-icon name="people"></ion-icon>
          <ion-label color="secondary">Friends</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item button="true" (click)="redirect('home')">
          <ion-icon name="exit"></ion-icon>
          <ion-label color="secondary">Disconnect</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-grid>
