<ion-grid>
  <ion-row>
    <ion-tabs>
      <ion-tab-bar slot="top">

        <ion-col id="test">
          <ion-tab-button tab="welcome">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button tab="game">
            <ion-icon name="game-controller"></ion-icon>
            <ion-label>Play</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button tab="searchBDD">
            <ion-icon name="search"></ion-icon>
            <ion-label>Search for cards</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button tab="deckbuilding">
            <ion-icon name="hammer"></ion-icon>
            <ion-label>Deckbuilding</ion-label>
          </ion-tab-button>
        </ion-col>
        <ion-col>
          <ion-tab-button tab="upDownLoad">
            <ion-icon name="arrow-redo"></ion-icon>
            <ion-label>Upload/Download deck</ion-label>
          </ion-tab-button>
        </ion-col>
<!--        <ion-col>-->
<!--          <ion-fab>-->
<!--            <ion-fab-button slot="fixed">-->
<!--              <ion-icon name="people"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--            <ion-fab-list side="bottom">-->
<!--              <p>{{glob.getNickname()}}</p>-->
<!--              <ion-item (click)="redirect('settings')"></ion-item>-->
<!--              <ion-icon ></ion-icon>-->
<!--              <ion-icon ></ion-icon>-->
<!--            </ion-fab-list>-->
<!--          </ion-fab>-->
<!--        </ion-col>-->

      </ion-tab-bar>
    </ion-tabs>
  </ion-row>
</ion-grid>
